<p>apartment-details works!</p>
<div class="containerCustom">

    <div class="list-group" id="information" *ngIf="apartment">
        <h2 class="list-group-item list-group-item-dark">Here is detailed information regarding our offer with
            identificator: {{apartment.id}}</h2>

        <ul>
            <li class="list-group-item list-group-item-dark">{{apartment.name}}</li>
            <li class="list-group-item list-group-item-dark"> {{apartment.location}}</li>
            <li class="list-group-item list-group-item-dark">{{apartment.rooms}}</li>
            <li class="list-group-item list-group-item-dark"> {{apartment.service}}</li>
            <li class="list-group-item list-group-item-dark"> {{apartment.price}} euro</li>
            <li class="list-group-item list-group-item-dark"> {{apartment.description}}</li>
        </ul>
    </div>


    <!-- Carousel wrapper -->
    <div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-indicators">
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2"
                aria-label="Slide 3"></button>
        </div>

        <!-- Inner -->
        <div class="carousel-inner">
            <!-- Single item -->
            <div class="carousel-item active" *ngFor="let pic of apartment?.pictures">
                <img src="{{pic}}" class="d-block w-100" alt="Sunset Over the City" />
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{apartment?.name}}</h5>
                    <p>
                        Contact +359 889 074 886
                    </p>
                </div>
            </div>
            <!-- Inner -->

            <!-- Controls -->
            <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample"
                data-mdb-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample"
                data-mdb-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Carousel wrapper -->

    <div class="list-group" style="margin: 1%;">
        <h4>For more information regarding this property please contact our top Real Estate agent and Co CEO
            <strong>Kamelia Stoyanova</strong> &nbsp;<a href="tel:+359 885 54 4457" style="color: black;">at: +359 885 54 4457</a>
        </h4>
    </div>
</div>

