<div>
    <app-apartment-search></app-apartment-search>
</div>

<div class="container">
    <div class="card" *ngFor="let el of apartments">
        <div class="card-body">
            <h5 class="card-title">{{el.name}}</h5>
            <img class="card-img-top" src="{{el.pictures}}" alt="Card image cap" width="350" height="350" id="img">
            <p class="card-text"><strong>Location:</strong> {{el.location}}</p>
            <p class="card-text"><strong>Price:</strong> {{el.price}} euro.</p>
            <p class="card-text"><strong>Is the property for major service:</strong> {{el.service? 'YES' : 'NO'}}</p>
            <p class="card-text"><strong>More about the flat:</strong> <br>
                {{el.description}}.</p>
            <a routerLink="/apartments/details/{{el.id}}" class="btn btn-primary" style="background-color: #6C757D;">View details</a>
        </div>
    </div>
</div>